name: QA

on: [ pull_request, push ]

jobs:
  rubocop:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - run: git fetch --no-tags --prune origin
    - uses: adwerx/pronto-ruby@v2.6
      env:
        GITHUB_TOKEN: 45f84d92a4a5ab59eccf20fbdbc5d769625caf07
      with:
        runners: >-
          rubocop
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby 2.6
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.6.x

    - name: Setup PostgreSQL
      uses: Harmon758/postgresql-action@v1.0.0
      with:
        postgresql version: 10
        postgresql db: ps-api-database
        postgresql user: lenovo
        postgresql password: lenovo


    - name: Dependencies
      run: |
        gem install bundler
        bundle install --jobs 4 --retry 3
        bundle exec rake

    - name: Create Database
      run: |
        rake db:setup

    - name: Run Test
      run: |
        bundle exec rspec